<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Jobeet - Your best job board
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />
</head>
{% block body %}
    <div id="jobs">
        <table class="jobs">
            {% for job in jobs %}
                <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                    <td class="location">{{ job.location }}</td>
                    <td class="position">
                        <a href="{{ path('job_show', { 'id': job.id }) }}">
                            {{ job.position }}
                        </a>
                    </td>
                    <td class="company">{{ job.company }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
</html>


{#{% block body %}#}
    {#{% if last_page > 1 %}#}
        {#<div class="pagination">#}
            {#<a href="{{ path('app_bundle_category_show', { 'slug': category.slug, 'page': 1 }) }}">#}
                {#<img src="{{ asset('images/first.png') }}" alt="First page" title="First page" />#}
            {#</a>#}
            {#<a href="{{ path('app_bundle_category_show', { 'slug': category.slug, 'page': previous_page }) }}">#}
                {#<img src="{{ asset('images/previous.png') }}" alt="Previous page" title="Previous page" />#}
            {#</a>#}
            {#{% for page in 1..last_page %}#}
                {#{% if page == current_page %}#}
                    {#{{ page }}#}
                {#{% else %}#}
                    {#<a href="{{ path('app_bundle_category_show', { 'slug': category.slug, 'page': page }) }}">{{ page }}</a>#}
                {#{% endif %}#}
            {#{% endfor %}#}
            {#<a href="{{ path('app_bundle_category_show', { 'slug': category.slug, 'page': next_page }) }}">#}
                {#<img src="{{ asset('images/next.png') }}" alt="Next page" title="Next page" />#}
            {#</a>#}
            {#<a href="{{ path('app_bundle_category_show', { 'slug': category.slug, 'page': last_page }) }}">#}
                {#<img src="{{ asset('images/last.png') }}" alt="Last page" title="Last page" />#}
            {#</a>#}
        {#</div>#}
    {#{% endif %}#}
    {#<div class="pagination_desc">#}
        {#<strong>{{ total_jobs }}</strong> jobs in this category#}
        {#{% if last_page > 1 %}#}
            {#- page <strong>{{ current_page }}/{{ last_page }}</strong>#}
        {#{% endif %}#}
    {#</div>#}
{#{% endblock %}#}

